services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DEFAULT_LOGIN=yar
      - DEFAULT_PASSWORD=galem
      - DATASOURCE_URL=jdbc:postgresql://db:5432/postgres
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
#    ports:
#      - "5432:5432"
    volumes:
      - postgres_:/var/lib/postgresql/data

volumes:
  postgres_:
